<div class="col-sm-6">

  <!-- Begin Listing: 609 W GRAVERS LN-->
  <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
    <div class="media">
      <a class="pull-left" href="#" target="_parent">
        <img alt="image" class="img-responsive" src=<%= product.small_image_url %>></a>

      <div class="clearfix visible-sm"></div>

      <div class="media-body fnt-smaller">
        <a href="#" target="_parent"></a>

        <h4 class="media-heading">
          <a href="#" target="_parent"><%= product.title.truncate(35) %>
            <small class="pull-right">609 W Gravers Ln</small>
          </a></h4>


        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
          <li>4,820 SqFt</li>

          <li style="list-style: none">|</li>

          <li>5 Beds</li>

          <li style="list-style: none">|</li>

          <li>5 Baths</li>
        </ul>

        <p class="hidden-xs">Situated between fairmount
          park and the prestigious philadelphia cricket
          club, this beautiful 2+ acre property is truly
          ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                                Evergreen</span>
      </div>
    </div>
  </div>
</div>