<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <%= render partial: 'side_nav', locals: {categories: categories} %>
    </div>
    <div class="col-xs-10" id="category-cards">
      <div class="col-xs-12 text-center page-header text-danger" id="category-header">
        <h1 class="category-header"><%= header %></h1>
      </div>
      <div class="container-fluid cards-wrapper" style="background-color:#e8e8e8">
        <div class="container-pad" id="category-listing">
          <%= render partial: 'category/category_card', collection: products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</div>