<div class="alert text-center category-heading"><strong>Categories</strong></div>
<nav class="nav-sidebar">
  <ul class="nav">
    <% categories.each do |category| %>
      <li><%= link_to category, category_path(category) %></li>
    <% end %>
  </ul>
</nav>