<% cache(categories, expires_in: 24.hours) do %>
  <div class="alert text-center category-heading h3"><strong>Categories</strong></div>
  <nav class="nav-sidebar">
    <ul class="nav">
      <% categories.each do |category| %>
        <li><%= link_to category, category_path(category) %></li>
      <% end %>
    </ul>
  </nav>
<% end %>