---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B003CTE1LU&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=EYTJrdhfISNf1bw9U3g9kVcQI%2BDHdI4U35UC5eCmckU=&Timestamp=2014-07-24T00:03:23Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Nncoection:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2011-08-01/"><Error><Code>RequestExpired</Code><Message>Request has expired. Timestamp date is 2014-07-24T00:03:23Z.</Message></Error><RequestId>e3a6be4c-8100-468f-b92f-119ddbf6af68</RequestId></ItemLookupErrorResponse>
  recorded_at: Thu, 24 Jul 2014 00:03:23 GMT
recorded_with: VCR 2.9.2
