<div class="row row-margin-bottom">
  <% @products.each_with_index do |product, index| %>
    <div class="col-xs-5 no-padding lib-item" data-category="view">
      <div class="lib-panel">
        <div class="row box-shadow">
          <div class="col-xs-4">
            <img class="lib-img-show" src="<%= product.large_image_url %>">
          </div>
          <div class="col-xs-8">
            <div class="lib-row lib-header">
              <%= truncate(product.title, length: 45, omission: '...') %>
              <div class="lib-header-seperator"></div>
              <small>Current Price: <%= product.current_price %></small>
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-desc">
              Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum
              dolor
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if index.even? %>
      <div class="col-xs-2"></div>
    <% end %>
  <% end %>
</div>