---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B000GIPJ0M&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=Ld1EvN8a/RUnK3bfllDcuZtW9BzrWwBDMCQsEPXShag=&Timestamp=2016-02-19T21:11:44Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><RequestId>6d35668d-0d04-4e2b-a0a7-28d55702370c</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="<ASIN_KEY>"></Argument><Argument Name="AssociateTag"
        Value="<ASIN_TAG>"></Argument><Argument Name="ItemId" Value="B000GIPJ0M"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Medium"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2016-02-19T21:11:44Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="Ld1EvN8a/RUnK3bfllDcuZtW9BzrWwBDMCQsEPXShag="></Argument></Arguments><RequestProcessingTime>0.0137740000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B000GIPJ0M</ItemId><ResponseGroup>Medium</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B000GIPJ0M</ASIN><ParentASIN>B00466JY10</ParentASIN><DetailPageURL>http://www.amazon.com/Optimum-Nutrition-Serious-Chocolate-Pound/dp/B000GIPJ0M%3Fpsc%3D1%26SubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB000GIPJ0M</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Optimum-Nutrition-Serious-Chocolate-Pound/dp/tech-data/B000GIPJ0M%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB000GIPJ0M</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB000GIPJ0M%26SubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB000GI[...]
