---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B002NU6FC2&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=1/sJsgYlYUmBYTO7e/tYTHj2DHufGbG3HG1DI1GWYsM=&Timestamp=2014-07-25T05:48:56Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><RequestId>968119bb-ffe5-47ad-8f93-7857d3656b1d</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="AssociateTag" Value="<ASIN_TAG>"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="1/sJsgYlYUmBYTO7e/tYTHj2DHufGbG3HG1DI1GWYsM="></Argument><Argument
        Name="ItemId" Value="B002NU6FC2"></Argument><Argument Name="AWSAccessKeyId"
        Value="<ASIN_KEY>"></Argument><Argument Name="Timestamp" Value="2014-07-25T05:48:56Z"></Argument><Argument
        Name="ResponseGroup" Value="Medium"></Argument></Arguments><RequestProcessingTime>0.0181120000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B002NU6FC2</ItemId><ResponseGroup>Medium</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B002NU6FC2</ASIN><ParentASIN>B00BEODEHC</ParentASIN><DetailPageURL>http://www.amazon.com/Betancourt-Nutrition-Bullnox-Androrush-35/dp/B002NU6FC2%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB002NU6FC2</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/Betancourt-Nutrition-Bullnox-Androrush-35/dp/tech-data/B002NU6FC2%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB002NU6FC2</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB002NU6FC2%26SubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB002NU[...]
