---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B00CTUIS12&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=eelmA4CQp0S9fCcehwvrF2va3dNvSi/V%2BMp6ImPPah0=&Timestamp=2016-02-20T02:30:57Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><RequestId>27a6e378-91ee-4d80-b3df-7e4171c16dbe</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="<ASIN_KEY>"></Argument><Argument Name="AssociateTag"
        Value="<ASIN_TAG>"></Argument><Argument Name="ItemId" Value="B00CTUIS12"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="Medium"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument
        Name="Timestamp" Value="2016-02-20T02:30:57Z"></Argument><Argument Name="Version"
        Value="2011-08-01"></Argument><Argument Name="Signature" Value="eelmA4CQp0S9fCcehwvrF2va3dNvSi/V+Mp6ImPPah0="></Argument></Arguments><RequestProcessingTime>0.1192880000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B00CTUIS12</ItemId><ResponseGroup>Medium</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B00CTUIS12</ASIN><DetailPageURL>http://www.amazon.com/OhYeah-Victory-Chocolate-Cookie-2-29oz/dp/B00CTUIS12%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB00CTUIS12</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/OhYeah-Victory-Chocolate-Cookie-2-29oz/dp/tech-data/B00CTUIS12%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00CTUIS12</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB00CTUIS12%26SubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB00CTUIS1[...]
