---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B0057RKQ4Q&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=w8X2T99o5nhNnrCoMiaVTaWfkHQXz6L6OT4DYJ%2Bh%2B3Y=&Timestamp=2014-07-28T23:25:27Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Nncoection:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0"?>
        <ItemLookupErrorResponse xmlns="http://ecs.amazonaws.com/doc/2011-08-01/"><Error><Code>RequestExpired</Code><Message>Request has expired. Timestamp date is 2014-07-28T23:25:27Z.</Message></Error><RequestId>716711d8-9fb7-4042-abfd-ec8069071512</RequestId></ItemLookupErrorResponse>
  recorded_at: Mon, 28 Jul 2014 23:25:27 GMT
recorded_with: VCR 2.9.2
