/**** BASE ****/
.cards-wrapper {
  border-radius: 13px;
  padding-top: 22px;
  .category-listing{
    min-height: 240px;
  }

  .category-pricing {

    .track-it-xs {
      margin-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }

    margin-top: 9px;
    li {
      padding-top: 4px;
      font-size: 11px;
    }
    img {
      height: 65px;
      max-height: 65px;
      max-width: 45px;
    }
  }
  body {
    color: #888;
  }
  a {
    color: black;
    text-decoration: none !important;
  }
  a:hover {
    color: #4A6C8F;
  }
}

/**** LAYOUT ****/
.list-inline > li {
  padding: 0 10px 0 0;
}

.container-pad {
  padding: 30px 0;
  display: inline;
}

/**** MODULE ****/
.bgc-fff {
  background-color: #fff !important;
}

.box-shad {
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
}

.brdr {
  border: 1px solid #ededed;
  border-radius: 13px;
}

/* Font changes */
.fnt-smaller {
  font-size: .9em;
}

.fnt-lighter {
  color: #bbb;
}

/* Padding - Margins */
.pad-10 {
  padding: 10px !important;
}

.mrg-0 {
  margin: 0 !important;
}

.btm-mrg-10 {
  margin-bottom: 10px !important;
}

.btm-mrg-20 {
  margin-bottom: 20px !important;
}

/* Color  */
.clr-535353 {
  color: #535353;
}

/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
  .category-listing {
    padding: 5px !important;
  }
  .category-listing a {
    margin: 0;
  }
  .category-listing .media-body {
    padding: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .category-listing img {
    max-width: 65px;
  }
}

#category-cards {
  padding-left: 0;
  padding-right: 30px;
}

.category-heading {
  padding-bottom: 10px;
  strong {
    word-wrap: break-word;
  }

}

#category-header {
  padding-bottom: 0;
  color: #F23E2C;
  margin: 10px 0 20px;
  .category-header {
    margin-top: 10px;

  }
}

.category-buy-now {
  background-color: #F2A03D
}
