.container {
  .panel-footer{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-color: black;
    text-align: right;
  }
}