.panel {
  .intro-panel {
    font-size: 16pt;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #1c1e22;
  }

}

.intro-nav {
  li {
    padding: 10px 15px;
    color: #fff;
    text-align: left;

  }
}

.nav-sidebar li:hover {
  background-image: none;
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
  background-image: linear-gradient(#020202, #101112 40%, #191b1d);
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.cards-wrapper {
  .instruction-heading {
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .instructions{
    color: black;
    font-weight: normal;
    a {
      font-weight: bold;
    }
  }

}


.instruction-photo {
  img {
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid black;
  }
}