.loginbox {
  margin-top:50px;
}

.forgot-password {
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
}

.login-panel {
  padding-top:30px;
}

.login-alert {
  display:none;
}

.input-group {
  margin-bottom: 25px;
}

.form-group {

}