.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border-right: 1px solid #ddd;
}

.nav-sidebar a {
  color: wheat;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.nav-sidebar .active a {
  cursor: default;
  background-color: #428bca;
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}

.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.category-heading {
  -webkit-box-shadow: 2px 2px 1px lightslategrey;
  box-shadow: 2px 2px 1px lightslategrey;
  font-size: 15px;
  word-wrap: break-word;
}