
.my-products {
  .col-xs-9 {
    padding-top: 10px;
  }
  .text-success, .text-danger {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-left: 15px;

  }

  .my-products-light {
    margin-bottom: 5px;
    background-color: #c8c8c8;
    color: black;
    border-color: black;

    .my-product-title {
      color: black;
      font-weight: bold;
    }
    .remove-notification,.save-notification {
      color: white;
      border: 1px solid black;
      background-color: #3e444c;
      margin-left: 10px;

    }

  }

  .my-products-dark {
    background-color: #3e444c;
    margin-bottom: 5px;
    color: white;

    .remove-notification, .save-notification {
      color: black;
      border: 1px solid black;
      background-color: #c8c8c8;
      margin-left: 10px;


    }
  }

  .buy-now-small {
    background-color: #F2A03D;
    color: black;
    margin-top: -10px;
    margin-bottom: 15px;

  }

  .untrack {
    color: black;
    padding-left: 24px;
  }
  label {
    font-weight: normal;
  }

}

.my-products-button {
  margin-top: 18px;
}

.panel {
  .my-products-panel {
    background-color: #1c1e22;
    padding: 40px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list-unstyled {
  .percent-style {
    color: black;
  }
}

.notification-button-wrapper {
  margin-top: 10px;
  float:right;
  margin-right: 160px;
}

