
.my-products {
  .col-xs-9 {
    padding-top: 10px;

  }
  .my-products-light {
    margin-bottom: 5px;
    background-color: #c8c8c8;
    color: black;
    border-color: black;
    .my-product-title {
      color: black;
      font-weight: bold;
    }
  }

  .my-products-dark {
    background-color: #3e444c;
    margin-bottom: 5px;
    font-weight: bold;
    label {
      color: white
    }
  }

  .buy-now-small {
    background-color: #F2A03D;
    color: black;
  }

  .untrack {
    color: black;
  }
  label {
    font-weight: normal;
  }

}

.my-products-button {
  margin-top: 18px;
}

.panel {
  .my-products-panel {
    background-color: #1c1e22;
    padding: 40px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

