<div class="container">
  <div class="col-xs-2">
    <div class="alert text-center category-heading"><strong>Topics</strong></div>
    <nav class="nav-sidebar intro-nav">
      <ul class="nav text-center ">
        <li>Product Sorting</li>
        <li>Track a product</li>
        <li>Receive notifications</li>
        <li>Suggest a product</li>
        <li>How it works</li>
        <li>How we use your info</li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-10 ">
    <div class="panel panel-default ">
      <div class="panel-body text-center intro-panel">
        <p>Mass Metrics is a tool which allows users to track the price of supplements
          and health products over time. You can read the brief tutorial below or
          click <%= link_to 'Here', category_index_path %> to get started now. </p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 ">
    <div class="container-fluid cards-wrapper">
      <div class="col-xs-4">
      <div class="instruction-heading">Product Sorting</div>
      <div class="instructions">When you visit the home page, the 10 best deals from the entire site are sorted with the biggest discounts being shown first.
        You can click on any category from the side menu to see the best deals from that particular category.
      </div>
      </div>
      <div class="col-xs-8 instruction-photo">
        <%= image_tag('product-sort.png', size:'580x223') %>
      </div>
    </div>
  </div>
</div>