<div class="container">
  <div class="col-xs-2">
    <div class="alert text-center category-heading h3"><strong>Topics</strong></div>
    <nav class="nav-sidebar intro-nav">
      <ul class="nav text-center ">
        <li>Product Sorting</li>
        <li>Track a product</li>
        <li>Receive notifications</li>
        <li>Suggest a product</li>
        <li>How it works</li>
        <li>How we use your info</li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-10 ">
    <div class="panel panel-default ">
      <div class="panel-body text-center intro-panel">
        <p>Mass Metrics is a tool which allows users to track the price of supplements
          and health products over time. You can read the brief tutorial below or
          click <%= link_to 'Here', category_index_path %> to get started now. </p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 ">
    <div class="container-fluid cards-wrapper">
      <div class="col-xs-4">
        <div class="instruction-heading h3">Product Sorting</div>
        <div class="instructions h4">When you visit the home page, the 10 best deals from all of the categories are sorted
          with the biggest discounts being shown first.
          You can click on any category from the side menu to see the best deals from that particular category.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('product-sort.png', class: 'img-responsive') %>
      </div>
      <div class="col-xs-4">
        <div class="instruction-heading h3">Track a product</div>
        <div class="instructions h4">In order to track a product you must create an account by clicking the register
          link at the top of the page and entering your email and password.  Once you have registered, you can click the "Track-it" button on any product on
          the site.  You will then be brought to the "My Products" page where you can set a "Target discount"
          percentage.  When the Current discount reaches the Target discount an email notification will be sent to
          the email that you registered with.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('track-product.png', class: 'img-responsive') %>
      </div>
    </div>
  </div>
</div>