---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=<ASIN_KEY>&AssociateTag=<ASIN_TAG>&ItemId=B0047Y6I24&Operation=ItemLookup&ResponseGroup=Medium&Service=AWSECommerceService&Signature=UvyaWuJXdOqpXovbrOybAoYT3Ihi4smc98Bzy2jj9vc=&Timestamp=2014-07-24T04:12:31Z&Version=2011-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><RequestId>6d21a7ed-2fec-4aa4-8d29-016aad2cb56e</RequestId><Arguments><Argument Name="Operation" Value="ItemLookup"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument><Argument Name="Signature" Value="UvyaWuJXdOqpXovbrOybAoYT3Ihi4smc98Bzy2jj9vc="></Argument><Argument Name="AssociateTag" Value="<ASIN_TAG>"></Argument><Argument Name="Version" Value="2011-08-01"></Argument><Argument Name="ItemId" Value="B0047Y6I24"></Argument><Argument Name="AWSAccessKeyId" Value="<ASIN_KEY>"></Argument><Argument Name="Timestamp" Value="2014-07-24T04:12:31Z"></Argument><Argument Name="ResponseGroup" Value="Medium"></Argument></Arguments><RequestProcessingTime>0.0143850000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B0047Y6I24</ItemId><ResponseGroup>Medium</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B0047Y6I24</ASIN><ParentASIN>B00LV94DKM</ParentASIN><DetailPageURL>http://www.amazon.com/Myotein-Chocolate-Protein-Tasting-Offered/dp/B0047Y6I24%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB0047Y6I24</DetailPageURL><ItemLinks><ItemLink><Description>Technical Details</Description><URL>http://www.amazon.com/Myotein-Chocolate-Protein-Tasting-Offered/dp/tech-data/B0047Y6I24%3FSubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB0047Y6I24</URL></ItemLink><ItemLink><Description>Add To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB0047Y6I24%26SubscriptionId%3D<ASIN_KEY>%26tag%3D<ASIN_TAG>%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB0047Y6I24</UR[...]
